<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="DomainName" value=".npitx.org" />
  </appSettings>

  <connectionStrings>
    <add name="AzureStudentDB" connectionString="Server=tcp:c7kpgalqk0.database.windows.net;Database=npadmin;User ID=npadmin@c7kpgalqk0;Password=2121HappyDay;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>




  <system.web>


    <customErrors mode="RemoteOnly" defaultRedirect="404.htm">
      <error statusCode="403" redirect="404.htm" />
      <error statusCode="404" redirect="404.htm" />
    </customErrors>
  </system.web>




</configuration>