<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="404.htm">
      <error statusCode="403" redirect="404.htm" />
      <error statusCode="404" redirect="404.htm" />
    </customErrors>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="NewsEdit.aspx">
        <credentials passwordFormat="Clear">
          <user name="Editor" password="Editor"/>
          <user name="Approver" password="Approver"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
  <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <location path="NewsEdit.aspx">
    <system.web>
      <authorization>
        <allow users="Editor,Approver"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewsItemEdit.aspx">
    <system.web>
      <authorization>
        <allow users="Editor,Approver"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewsApprove.aspx">
    <system.web>
      <authorization>
        <allow users="Approver"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>